NODE_ENV=development
PORT=8081
LOG_LEVEL=info

APP_BASE_URL=http://localhost:8081
WEB_BASE_URL=http://localhost:5173

DATA_LAYER_BASE_URL=http://localhost:8082

JWT_ACCESS_SECRET=replace_me_with_a_long_random_string_at_least_32_chars
JWT_REFRESH_SECRET=replace_me_with_a_long_random_string_at_least_32_chars
